@theme {
  --blur-nav: 10px;
  --animate-wave: q-wave 6s linear infinite;
  --blur-dim: 3px;
  --animate-contact-fade: contact-fade 300ms ease-in-out forwards;

  @keyframes q-wave {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-56px);
    }
  }

  @keyframes contact-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
